html {
	background-color: #00072D;
	color: white;
	color-scheme: dark;
}

body {
	height: 100%;
	padding: 80px 0 0 0;
}

.column {
	float: left;
	height: 80px;
	justify-items: center;
	/*align-content: center;*/
}

.row {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #00072D;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.heading {
	margin-left: 10px;
	font-family: Britannic;
	font-size: 2.5em;
	text-size-adjust: auto;
	color: white;
	align-content: center;
}

.navDiv {
	float: right;
	color: white;
	color-scheme: dark;
	font-family: sans-serif;
	text-align: right;
	align-content: center;
}

/*for the spheres*/
.sphereNav {
	color: white;
	text-decoration: none;
	font-family: 'Cascadia Code';
	text-shadow: 0px 0px 15px #000000, 0px 0px 15px #000000;
	align-items: center;
}

.icon {
	width: 200px;
	height: 200px;
}

.indexMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	height: 100%;
}

.iconContainer {
	display: flex;
	flex-direction: row;
	width: 250px;
	height: 250px;
	justify-content: center;
	align-items: center;
	align-content: center;
	vertical-align: middle;
	z-index: -1;
}

.homeTagline {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	font-family: Britannic;
	font-size: 300%;
	margin: 100px 0px;
}

#frame {
	border: hidden;
	width: 70vw;
	height: 62vh;
}

#essayFrame {
	border: hidden;
	width: 70vw;
	height: 62vh;
}

.articleNav {
	position: center;
	padding: 10px 0px;
}

	.articleNav h1 {
		font-family: Britannic;
		font-size: 300%
	}

article {
	padding: 0px 20px;
	font-family: sans-serif;
}

.content {
	margin: 0;
	width: 100%;
	height: 84vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background-size: 100% 100%;
}

.content-blogs {
	background: linear-gradient(180deg, #9E1711, #00072D, #00072D);
}

.content-designs {
	background: linear-gradient(180deg, #fdc934, #00072D, #00072D);
}

.content-essays {
	background: linear-gradient(180deg, #08A045, #00072D, #00072D);
}

.content-profile {
	background: linear-gradient(180deg, #2477A9, #00072D, #00072D);
}

.content-portfolio {
	background: linear-gradient(180deg, #6B6C6F, #00072D, #00072D);
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}

.containerbanner {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}

.menuItemDiv {
	display: inline-grid;
	height: 70px;
	width: 70px;
	margin: 3px 3px;
	justify-items: center;
	align-content: center;
}

.menuItem {
	text-decoration: none;
}

.activeItem {
	border-radius: 50%;
	font-family: sans-serif;
}

.activeItem-blogs {
	background-color: #9e1711;
}

.activeItem-designs {
	background-color: #fdc934;
}

.activeItem-essays {
	background-color: #08a045;
}

.activeItem-profile {
	background-color: #2477A9;
}

.activeItem-portfolio {
	background-color: #6B6C6F;
}

.designH2 {
	text-align: center;
	font-family: Britannic;
	font-size: 40px;
	color: #fdc934;
}

.profileText {
	margin: 0vh 30vw;
}

.content-designs p {
	margin: 0vh 17vw;
}

.desktopWF1 {
	width: 50%;
	height: 25%;
}


.designIcons {
	width: 12.5%;
	height: 12.5%;
}

.desktopWF2 {
	width: 55%;
	height: 27.5%;
}

.portfolioH2 {
	text-align: center;
	font-family: Britannic;
	font-size: 40px;
	color: #6B6C6F;
}

.bodyArt {
	width: 20%;
	height: 25%;
}

.artwork {
	width: 20%;
	height: 25%;
}


.burgerMenu {
	width: 30px;
	height: 14px;
	margin: 0px 15px;
	position: relative;
	/*display: inline-block;*/
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	float: right;
	cursor: pointer;
	border-radius: 6px 0px;
	display: none;
}

	.burgerMenu:after {
		content: '';
		width: 100%;
		height: 4px;
		background-color: #fff;
		position: absolute;
		top: 5px;
		left: 0;
	}

#chkBMenu {
	display: none;
}

@media(max-width:750px) {
	.burgerMenu {
		display: block;
	}

	.navDiv {
		position: fixed;
		text-align: -webkit-center;
		width: 100%;
		background-color: rgb(58, 58, 58, 0.8);
		height: 100vh;
		top: 80px;
		left: 105%;
		transition: all 1s;
	}

	.menuItemDiv {
		display: block;
		text-align: center;
	}

	div nav div {
		display: block;
		padding: 30px 30px;
	}

		div nav div a {
			font-size: 20px;
		}
}